
* {
	margin: 0px;
	padding: 0px;
}



.background img{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 10;
  }
  
  .modal img {
	position: absolute;
	top: 15%;
	left: 30%;
	height: 100%;
	width: auto;
	z-index: 11;
  }

.box ul li {
	position: absolute;
	width: 50%;
	height: 50%;
	opacity: 0;
	color:rgba(0, 0, 0, 0);
	background: radial-gradient(rgb(0, 94, 209), transparent, transparent);
	top: -50%;
	left: -50%;
	z-index: 10;
	animation: animate 9s linear infinite;
}

.box ul li:nth-child(2) {
	left: -50%;
    top: 30%;
	width: 80%;
	height: 80%;
    background: radial-gradient(rgb(231, 183, 71), transparent, transparent);
	animation-delay: 0s;
}
.box ul li:nth-child(3) {
	width: 40%;
	height: 40%;
	left: 100%;
    top: 70%;
    background: radial-gradient(rgb(255, 0, 174), transparent, transparent);
	animation-delay: 1s;
}

.box ul li:nth-child(4) {
	left: 100%;
    top: 0%;
    background: radial-gradient(rgb(176, 92, 249), transparent, transparent);
	animation-delay: 1s;
}

.box ul li:nth-child(5) {
	left: 50%;
    top: -50%;
    background: radial-gradient(rgb(234, 177, 120), transparent, transparent);
	animation-delay: 1s;
}

.box ul li:nth-child(6) {
	left: 50%;
    top: -50%;
    background: radial-gradient(rgb(245, 127, 58), transparent, transparent);
	animation-delay: 4s;
}

.box ul li:nth-child(7) {
	width: 50%;
	height: 50%;
	left: 20%;
    top: -60%;
    background: radial-gradient(rgb(184, 6, 216), transparent, transparent);
	animation-delay: 4s;
}

.box ul li:nth-child(8) {
	left: 70%;
    top: 70%;
    background: radial-gradient(rgb(234, 192, 27), transparent, transparent);
	animation-delay: 5s;
}

.box ul li:nth-child(9) {
	left: 40%;
    top: -40%;
    background: radial-gradient(rgb(241, 188, 118), transparent, transparent);
	animation-delay: 7s;
}

.box ul li:nth-child(10) {
	left: 60%;
    top: 100%;
    background: radial-gradient(rgb(184, 6, 216), transparent, transparent);
	animation-delay: 7s;
}

.box ul li:nth-child(11) {
	width: 50%;
	height: 50%;
	left: 20%;
    top: -60%;
    background: radial-gradient(rgb(229, 183, 47), transparent, transparent);
	animation-delay: 7s;
}
.box ul li:nth-child(12) {
	width: 50%;
	height: 50%;
	left: 100%;
    top: 60%;
    background: radial-gradient(rgb(0, 108, 223), transparent, transparent);
	animation-delay: 7s;
}





@keyframes animate {
	0% {
		transform: scale(0);
		opacity: 1;
		bottom: 0;
	}
	100% {
		transform: scale(10);
		opacity: 0;
		bottom: 100vh;
	}
}